<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="discography.scss" type="text/css">
</head>
<body>
	<div class="title">
		<%= image_tag 'comments.png' %><br>
	</div>
	<div class="item">
		<%= link_to momocloapp_comment_new_path do %>
            <%= image_tag 'new_comment.png' %><br>
        <% end %>
	</div>
	<% @comments.each do |comment| %>
		<div class="comment">
		<%= link_to momocloapp_comment_path(comment.id) do %>
		<%= image_tag 'comment.png' %>
		<% end %>
		<p>
			<b><font size="4"><%= comment.name %></font></b><br>
			<%= comment.message %>
		</p>
        <br>
        </div>
    <% end %>
</body>