<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="discography.scss" type="text/css">
</head>
<body>
<div class="single_comment">
	<%= image_tag 'comment.png' %>
	<p>
		<b><font size="4"><%= @comment.name %></font></b><br>
		<%= @comment.message %>
	</p>
    <br>
</div>
<div class="operation">
	<%= link_to("/momocloapp/comments/#{@comment.id}/destroy", {method: "post"}) do %>
		<%= image_tag 'delete.png' %>
	<% end %>
	<%= link_to("/momocloapp/comments/#{@comment.id}/edit", {method: "get"}) do %>
		<%= image_tag 'edit.png' %>
	<% end %>
</div>
</body>