<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="members.scss" type="text/css">
</head>
<h1>
	会員登録
</h1>
<body>
	<%= form_for :post, url: users_path do |f| %>
		<p>
			<%= f.search_field :name %>
			<%= f.submit "検索" %>
		</p>
		<p>
			<%= f.label :name, "名前" %><br>
			<%= f.text_field :name, placeholder: 'enter name ' %>
		</p>
		<p>
			<%= f.label :email, "メールアドレス" %><br>
			<%= f.email_field :email %>
		</p>
		<p>
			<%= f.label :satisfaction, "満足度" %><br>
			<%= f.range_field :satisfaction %><br>
			不満　　　　　満足
		</p>
		<p>
			<%= f.label :live_experience, "ライブ参加回数" %><br>
			<%= f.number_field :live_experience %>
		</p>
		<p>
			<%= f.label :adress, "お住まい" %><br>
			<%= f.select :adress , [["北海道","北海道"],["東京","東京"]]%>
			<%= f.select(:adress, options_for_select(["北海道","東京"])) %>
		</p>
		<p>
			<%= f.label :birth, "生年月日" %><br>
			<%= f.date_field :birth %><br>
			<%= f.datetime_field :birth %><br>
			<%= f.datetime_local_field :birth %><br>
			<%= f.month_field :birth %>
			<%= f.time_field :birth %>
			<%= f.week_field :birth %>
		</p>
		<p>
			<%= f.label :phone, "電話番号" %><br>
			<%= f.telephone_field :phone %>
		</p>
		<p>
			<%= f.label :image, "アイコン画像" %><br>
			<%= f.file_field :image %>
		</p>
		<p>
			<%= f.label :password, "パスワード" %><br>
			<%= f.password_field :password %>
		</p>

		<p>
			<%= f.hidden_field :hidden %>
		</p>
		<p>
			<%= f.label :intro, "自己紹介" %><br>
			<%= f.text_area :intro %>
		</p>
		<p>
			<%= f.label :gender, "性別" %><br>
			<%= f.check_box :gender %>
			<%= f.label :gender, "男" %>
			<%= f.check_box :gender %>
			<%= f.label :gender, "女" %>
		</p>
		<p>
			<%= f.label :fan_of, "推し" %><br>
			<label><%= f.radio_button :fan_of, "百田夏菜子" %> 百田夏菜子</label><br>
			<label><%= f.radio_button :fan_of, "玉井詩織" %> 玉井詩織</label><br>
			<label><%= f.radio_button :fan_of, "佐々木彩夏" %> 佐々木彩夏</label><br>
			<label><%= f.radio_button :fan_of, "高城れに" %> 高城れに</label><br>
			<label><%= f.radio_button :fan_of, "有安杏果" %> 有安杏果</label><br>
			<label><%= f.radio_button :fan_of, "箱" %> 箱</label><br>
		</p>
		<p>
			<%= f.label :url, "関連ページ" %><br>
			<%= f.url_field :url %>
		</p>
		<p>
			<%= f.label :color, "好きな色" %><br>
			<%= f.color_field :color %>
		</p>
		<%= f.submit %>
	<% end %>
</body>